/*      MEDIDAS
    min-width
    max-width
    min-height
    max-height

    vw (viewport width)
    vh(viewport height)

    son medidas relativas dependen  del elemento padre
    o del la dimenciones de la pantalla(monitor)
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

section{
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: red;
    overflow: auto;
}