* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid black;
    border-radius: 20px;
    width: 600px;
    height: 300px;
    margin: 5rem auto;
    padding: 5rem;
    background: gainsboro;
    position: relative;
}

.titulo {
    border: 1px solid black;
    width: 200px;
    height: auto;
    text-align: center;
    padding: 2rem;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: -40px;
    left: 208px;
}